<div class="col-lg-12">
<%= render 'shared/workshops', workshops: @upcoming_workshops, section_tittle: 'Upcoming Workshops' %>
<%= render 'shared/workshops', workshops: @past_workshops, section_tittle: 'Past Workshops' %>

</div>
