
     <div class="col-lg-6 mt-5">
      <div class="card show ">
       <div class="card-body">
          <%= render 'booking_details', workshop: @workshop, booking: @booking %>
          </div>
         </div>
        </div>  